@import '_content/GaelJ.BlazorCodeMirror6/GaelJ.BlazorCodeMirror6.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-sz7i0ag4tq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-sz7i0ag4tq] {
    flex: 1;
}

.sidebar[b-sz7i0ag4tq] {
    background-image: linear-gradient(180deg, rgb(103, 5, 5) 0%, #3a0647 70%);
}

@media (min-width: 641px) {
    .page[b-sz7i0ag4tq] {
        flex-direction: row;
    }

    .sidebar[b-sz7i0ag4tq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-upkhrmd2d0] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-upkhrmd2d0] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-upkhrmd2d0] {
    font-size: 1.4rem;
    font-family: Cascadia;
}

.bi[b-upkhrmd2d0] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-nav-menu[b-upkhrmd2d0] {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M20%209v11a2%202%200%200%201-2%202H6a2%202%200%200%201-2-2V9%22%2F%3E%3Cpath%20d%3D%22M9%2022V12h6v10M2%2010.6L12%202l10%208.6%22%2F%3E%3C%2Fsvg%3E");
}

.bi-table-nav-menu[b-upkhrmd2d0] {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Crect%20x%3D%223%22%20y%3D%223%22%20width%3D%2218%22%20height%3D%2218%22%20rx%3D%222%22%2F%3E%3Cpath%20d%3D%22M21%2012H3M12%203v18%22%2F%3E%3C%2Fsvg%3E");
}

.bi-text-nav-menu[b-upkhrmd2d0] {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M17%209.5H3M21%204.5H3M21%2014.5H3M17%2019.5H3%22%2F%3E%3C%2Fsvg%3E");
}

.bi-brackets-nav-menu[b-upkhrmd2d0] {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%2216%2018%2022%2012%2016%206%22%3E%3C%2Fpolyline%3E%3Cpolyline%20points%3D%228%206%202%2012%208%2018%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E");
}

.nav-item[b-upkhrmd2d0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-upkhrmd2d0] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-upkhrmd2d0] {
        padding-bottom: 1rem;
    }

    .nav-item[b-upkhrmd2d0]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-upkhrmd2d0]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-upkhrmd2d0]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-upkhrmd2d0] {
        display: none;
    }

    .collapse[b-upkhrmd2d0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-upkhrmd2d0] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Lab.razor.rz.scp.css */

.split[b-3u8asx8g1j] {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.left[b-3u8asx8g1j] {
    float: left;
    border-right: 1px solid #474c5a;
}

.right[b-3u8asx8g1j] {
    float: right;
}

.top-row[b-3u8asx8g1j] {
    background-color: #1c1e26;
    border-bottom: 1px solid #474c5a;
    justify-content: flex;
    height: 3rem;
    display: flex;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: Cascadia;
}

.top-row.auth[b-3u8asx8g1j]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
}

.top-row[b-3u8asx8g1j], article[b-3u8asx8g1j] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

select[b-3u8asx8g1j] {
    margin-left: 2rem;
    padding-right: 2rem;
    outline: none;
    background-color: #1c1e26;
    border-color: #474c5a;
    color: white;
}
