
.split {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.left {
    float: left;
    border-right: 1px solid #474c5a;
}

.right {
    float: right;
}

.top-row {
    background-color: #1c1e26;
    border-bottom: 1px solid #474c5a;
    justify-content: flex;
    height: 3rem;
    display: flex;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: Cascadia;
}

.top-row.auth ::deep a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
}

.top-row, article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

select {
    margin-left: 2rem;
    padding-right: 2rem;
    outline: none;
    background-color: #1c1e26;
    border-color: #474c5a;
    color: white;
}
