@page "/lab"

<PageTitle>Lab</PageTitle>

<div class="split left">
    <div class="lines"></div>
    <textarea id="code" name="code" autofocus="true" spellcheck="false" wrap="off">Console.PrintLine("Hello, world!");</textarea>
</div>

<div class="split right">
    <textarea id="result" name="result" spellcheck="false" readonly="true" wrap="off"></textarea>
</div>
